.z-landing{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    .logo{
        margin-left: 5vw;
    }
    .dec-barr{
        height: 92vh;
    }
    .title{
        justify-self: start !important;
        font-family: 'Reem Kufi', sans-serif;
        font-size: 4vw;
        letter-spacing: 0.5vw;
    }
}